{% extends 'base_admin.html' %}
{% load static %}
{% load extra_tags %}
{% block heading %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(function (){
            $("#l_total").text('({{ listado.count }})')
        })
    </script>
{% endblock %}
{% block url_atras %}{{ request.path }}{% endblock %}
{% block enlaces_top %}
    <li class="breadcrumb-item"><a href="{{ request.path }}">Equipos ({{ club|title_cap }})</a></li>
    <li class="breadcrumb-item">{{ title }}</li>
{% endblock %}
{% block botones_top %}
    <div class="nav btn-group" role="tablist">
        <a href="{% url 'clubes:gestion_clubes' %}?action=addintegrante&id={{ club.id|encrypt }}" class="btn btn-success btn-xs btn-xl" title="Adicionar docente" data-bs-toggle="tooltip"> <i class="fas fa-plus"></i> Adicionar</a>
    </div>
{% endblock %}
{% block content_1 %}
    <div class="row mb-3">
        <div class="col-12">
            <h3><i class="fa-brands fa-hubspot"></i> Club de {{ club|title_cap }}</h3>
        </div>
        <form class="col-12" method="GET">
            <!-- Card header -->
            <div class="card-header border-bottom-0 p-0 bg-white">
                <div class="d-flex align-items-center">
                    <span class="position-absolute ps-3 search-icon">
                        <i class="fe fe-search"></i>
                    </span>
                    <input type="hidden" name="action" value="{{ action }}">
                    <input type="hidden" name="id" value="{{ club.id|encrypt }}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select name="rol" id="id_rol" class="selectpicker" placeholder="Seleccione un rol a filtrar">
                                <option value=""></option>
                                {% for r in roles %}
                                    <option value="{{ r.0 }}" {% if rol == r.0 %}selected{% endif %}>{{ r.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="search" class="form-control ps-6" name="s" placeholder="Buscar por cédula, username, nombres o apellidos..." value="{{ s }}"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            {% if url_vars %}
                                <a href="{{ request.path }}?action={{ action }}&id={{ club.id|encrypt }}" class="btn btn-default"><i class="fas fa-refresh"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12">
        <div class="card">
            <!-- table -->
            <div class="table-responsive">
                <table class="table mb-0 text-nowrap table-bordered" id="l_table">
                    <thead class="table-light">
                        <tr>
                             <th scope="col" class="text-center w-5">
                                <i class="fas fa-sort-numeric-asc"></i>
                            </th>
                            <th scope="col" class="w-15">
                                Usuario
                            </th>
                            <th scope="col" class="">
                                Detalle
                            </th>
                            <th scope="col" class="text-center w-5">
                                Rol
                            </th>
                            <th scope="col" class="text-center w-5">
                                <i class="fas fa-cogs"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for l in listado %}
                        <tr>
                            <td class="text-center align-middle w-3">{{ forloop.counter }}</td>
                            <td class="align-middle border-top-0 w-20">
                                <div class="d-flex align-items-center">
                                    {{ l.persona.get_avatar_img_md|safe }}
                                    <div class="my-0 lh-15">
                                        <p class="fw-bold"><i class="fas fa-user"></i> {{ l.persona.nombres_completos_lienal }}</p>

                                        <p class=""><i class="fas fa-id-card-clip"></i> {% if l.persona.cedula %} {{ l.persona.cedula }} {% else %}{{ l.persona.pasaporte }} {% endif %}</p>
                                        <p class=""><i class="fas fa-envelope"></i> {{ l.persona.email }}</p>
                                        <p class=""><i class="fas fa-calendar-day"></i> {{ l.persona.fecha_nacimiento|date:'d-m-Y'|default_if_none:'S/F' }}</p>
                                    </h5>
                                </div>
                            </td>

                            <td class="align-middle border-top-0 w-15 lh-15">
                                <p><i class="fa-solid fa-venus-mars"></i> {{ l.persona.get_sexo_display|default_if_none:'S/S' }}</p>
                                <p><i class="fa-solid fa-mobile"></i> {{ l.persona.celular }}</p>
                                <p><i class="fa-brands fa-font-awesome"></i> {{ l.persona.nacionalidad.nacionalidad|title|default_if_none:'S/N' }}</p>
                                <p><i class="fa-solid fa-location-dot"></i> {{ l.persona.ciudad|default_if_none:'S/C' }}</p>
                            </td>
                            <td class="align-middle border-top-0 text-center w-15">
                                <p>{{l.get_rol_display}}
{#                                {% if l.rol == 1 %}#}
{#                                    | {{l.get_tipojugador_display}}#}
{#                                {% endif %}#}
                                </p>
                            </td>
                            <td class="align-middle border-top-0 text-center w-3">
                                <span class="dropdown dropstart">
                                  <a class="btn-icon btn btn-sm rounded-circle" href="#"
                                     role="button"
                                     id="courseDropdown1"
                                     data-bs-toggle="dropdown" data-bs-offset="-20,20"
                                     aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                  </a>
                                  <span class="dropdown-menu" aria-labelledby="courseDropdown1">
                                  <span class="dropdown-header"><i class="fas fa-cogs"></i> Acciones</span>
                                    <a class="dropdown-item"
                                       href="{{ request.path }}?action=editintegrante&id={{ l.pk|encrypt }}">
                                        <i class="fe fe-edit dropdown-item-icon"></i>Editar
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);"
                                         onclick="eliminarajax('{{ l.pk|encrypt }}','{{l}}','delintegrante')">
                                        <i class="fe fe-trash dropdown-item-icon"></i> Eliminar
                                    </a>
                                  </span>
                                </span>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No existen registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                {% include 'paginador.html' %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}