{% extends 'base_admin.html' %}
{% load static %}
{% load extra_tags %}
{% block heading %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            $("#l_total").text('({{ listado.count }})')
        })
    </script>
{% endblock %}
{% block enlaces_top %}
    <li class="breadcrumb-item">{{ title }}</li>
{% endblock %}
{% block botones_top %}
    <div class="nav btn-group" role="tablist">
        {% if sincodigo %}
            <a href="javascript:void(0)"
               onclick="accionNotificar('','Estas por generar códigos a todos los equipos que no lo dispongan','generarcodigos','Generar códigos')" class="btn btn-primary btn-xs btn-xl"
               title="Adicionar club" data-bs-toggle="tooltip"> <i class="fas fa-cogs"></i> Generar códigos
            </a>
        {% endif %}
        <a href="javascript:void(0)"
           onclick="formModal('','Adicionar partido','addclub','modal-md')" class="btn btn-success btn-xs btn-xl"
           title="Adicionar club" data-bs-toggle="tooltip"> <i class="fas fa-plus"></i> Adicionar</a>
    </div>
{% endblock %}
{% block content_1 %}
    <div class="row mb-3">
        <form class="col-12" method="GET">
            <!-- Card header -->
            <div class="card-header border-bottom-0 p-0 bg-white">
                <div class="d-flex align-items-center">
                    <span class="position-absolute ps-3 search-icon">
                        <i class="fe fe-search"></i>
                    </span>
                    <input type="search" class="form-control ps-6" name="s" placeholder="Buscar por nombre del club..."
                           value="{{ s }}"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- table -->
                <div class="table-responsive">
                    <table class="table mb-0 table-bordered" id="l_table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center">
                                <i class="fas fa-sort-numeric-asc"></i>
                            </th>
                            <th scope="col">
                                Equipo
                            </th>
                            <th scope="col">
                                Categoría
                            </th>
                            <th scope="col">
                                Descripción
                            </th>
                            <th class="text-center">
                                Integrantes
                            </th>
                             <th class="text-center">
                                Código
                            </th>
                            <th class="text-center w-3">
                                <i class="fas fa-cogs"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in listado %}
                            <tr>
                                <td class="text-center align-middle w-5">{{ forloop.counter }}</td>
                                <td class="align-middle border-top-0 w-30">
                                    <div class="d-flex align-items-center">
                                        {{ l.get_escudo_img_md|safe }}
                                        <h5 class="my-0 lh-15">
                                            {{ l.nombre }}
                                        </h5>

                                    </div>
                                </td>
                                <td class="text-center align-middle w-10">
                                    <p >{{ l.get_tipoequipo_display }}</p>

                                </td>
                                <td class="align-middle border-top-0 lh-15 w-40">
                                    <p>
                                        {{ l.descripcion }}
                                    </p>
                                </td>
                                <td class="w-5 align-middle text-center">
                                    {{ l.total_integrantes|length }}
                                </td>
                                 <td class="w-3 align-middle text-center">
                                    {{ l.codigo }}
                                </td>
                                <td class="align-middle border-top-0 text-center w-3">
                                <span class="dropdown dropstart">
                                  <a class="btn-icon btn btn-sm rounded-circle" href="#"
                                     role="button"
                                     id="courseDropdown1"
                                     data-bs-toggle="dropdown" data-bs-offset="-20,20"
                                     aria-expanded="false">
                                  <i class="fe fe-more-vertical"></i>
                                  </a>
                                  <span class="dropdown-menu" aria-labelledby="courseDropdown1">
                                  <span class="dropdown-header"><i class="fas fa-cogs"></i> Acciones</span>
                                      <a class="dropdown-item"
                                         href="{{ request.path }}?action=integrantes&id={{ l.id|encrypt }}">
                                        <i class="fe fe-users dropdown-item-icon"></i>Integrantes
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);"
                                       onclick="formModal('{{ l.pk|encrypt }}','Editar {{ l }}','editclub','modal-md')">
                                        <i class="fe fe-edit dropdown-item-icon"></i>Editar
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);"
                                       onclick="eliminarajax('{{ l.pk|encrypt }}','{{ l }}','delclub')">
                                        <i class="fe fe-trash dropdown-item-icon"></i> Eliminar
                                    </a>
                                  </span>
                                </span>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No existen registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    {% include 'paginador.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}