{% extends 'base_ajax_form.html' %}
{% block heading_1 %}

{% endblock %}
{% block extra_js_1 %}
    <script>
        $(function (){
            $("#id_cedula").change(function (){
                console.log('hola')
                $("#errorFieldcedula").text('')
                let validar=validarCedula(this.value)
                if (!validar){
                    $("#errorFieldcedula").text("Cédula incorrecta")
                }
            })
        })
    </script>
{% endblock %}
{% block url_atras %}{{ request.path }}{% endblock %}
{% block enlaces_top %}
    <li class="breadcrumb-item"><a href="{{ request.path }}">Docentes</a></li>
    <li class="breadcrumb-item">Adicionar</li>

{% endblock %}