{% extends 'base_ajax_form_modal.html' %}
{% load extra_tags %}
{% block extra_js_modal %}
    <script>
        $(document).ready(function () {
            let generotorneo = $("#id_generotorneo")
            consultaAjax(generotorneo.val(),'cargarequiposfiltrado', '{{ request.path }}', '{{ id }}')
            generotorneo.on('change', function (){
                consultaAjax(generotorneo.val(),'cargarequiposfiltrado','{{ request.path }}','{{ id }}')
            })
            // Agrega un evento click al botón de guardar
            $("#submit").on("click", function (event) {
                // Verifica si al menos un checkbox con nombre "tipo" está marcado
                if ($('input[name="tipo"]:checked').length === 0) {
                    // Ningún checkbox está marcado, muestra un mensaje de error o realiza alguna acción
                    alertaWarning("Debes marcar al menos un partido");
                     event.preventDefault();
                }
            });
        });
         function consultaAjaxResponse(response){
             $("#id_registros").empty()
            $.each(response.data, function (index, option) {
                $("#id_registros").append(`
                <tr data-id="${option.value}">
                    <td class="align-middle"><input type="checkbox" name="equipos" ${option.check} value="${option.value}"> ${ option.img } ${ option.text }</td>
                </tr>
                `);
            });
        }
    </script>
{% endblock %}
{% block extra_input_seccion %}
<div class="row  mt-2">
    <label for="courseTitle" class="form-label mb-1"><i class="fas fa-sheet-plastic"></i> Valor de tarjetas<span
            style="color:red;margin-left:2px;"><strong>*</strong></span>:</label>
    
        {% for tipo in tipotarjetas %}
            <div class="col-6 ps-5 d-flex align-items-center">
                <div class="mb-2">
                    <h5 class="mb-0">
                        {{ tipo }} :
                    </h6>
                </div>
            </div>
            <div class="col-6 ps-5">
                {% with valortarjeta=tipo|args:torneo|call:'valortarjeta'%}
                    <input type="number" name="tipotarjeta_{{tipo.id}}" id="id_tipotarjeta" class="tipotarjeta form-control" value="{{ valortarjeta }}"> 
                {% endwith %}
            </div>
        {% endfor %}
</div>
    <div class="row  mt-2">
        <label for="courseTitle" class="form-label mb-1"><i class="fas fa-futbol"></i> Partidos disponibles<span
                style="color:red;margin-left:2px;"><strong>*</strong></span>:</label>
        <div class="col-12 ps-5">
            {% for tipo in tipopartidos %}
                {% if tipo.fases %}
                    {% with tipomarcado=tipo|args:torneo|call:'tipomarcado'%}
                        <div class="mb-2">
                            <h6 class="mb-0">
                                <input type="checkbox" name="tipo" id="id_tipo" class="tipo" value="{{ tipo.id }}" {% if tipomarcado %}checked{% endif %}> {{ tipo }}
                            </h6>
                            {% for tf in tipo.fases %}
                                <p class="ps-4 my-0">{{ tf.fase }}</p>
                            {% endfor %}
                        </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block section_end %}
    <label for="courseTitle" class="form-label mb-1"><i class="fas fa-users"></i> Equipos a participar
        <span style="color:red;margin-left:2px;"><strong>*</strong></span>:</label>
    <div class="table-responsive">
        <table class="table mb-0 table-bordered" id="l_table">
{#            <thead class="table-light">#}
{#            <tr>#}
{#                <th scope="col">#}
{#                    Equipo#}
{#                </th>#}
{#            </tr>#}
{#            </thead>#}
            <tbody id="id_registros">
            {% for l in listado %}
                <tr>
                    <td class="text-center align-middle w-5">{{ forloop.counter }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center">No existen registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- Pagination -->
        {% include 'paginador.html' %}
    </div>
{% endblock %}