{% extends 'base_externo.html' %}
{% load static %}
{% load extra_tags %}
{% block content_js %}
<script>
  $(document).ready(function () {
    $('#l_table').DataTable({
                {#"paging": false,  // Desactiva el paginador#}
                {#"searching": false,  // Desactiva el buscador#}
        "info": false,  // Desactiva la información de las entradas
        "order": [[3, "dsc"]],  // Ordena por la segunda columna (ColumnaNumerica) de forma ascendente
        "columnDefs": [{
          "targets": 0, // La primera columna
          "searchable": false,
          "orderable": false,
          "render": function (data, type, full, meta) {
            return meta.row + 1; // Devuelve el número de fila (empezando desde 1)
          }
        }],
        "language": {
          "decimal": "",
          "emptyTable": "No hay datos disponibles en la tabla",
          "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
          "infoFiltered": "(filtrado de _MAX_ entradas totales)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "No se encontraron coincidencias",
          "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
          },
          "aria": {
            "sortAscending": ": activar para ordenar la columna ascendente",
            "sortDescending": ": activar para ordenar la columna descendente"
          }
        }
      });
  });
  $(function () {
    $('#id_torneof').select2({ width: '100%', minimumResultsForSearch: 6 })
  });
</script>
{% endblock %}
{% block section_top %}
<div class="box-content-img">
  <!-- Contenedor de Imagen -->
  {# <img src="/static/images/torneo.jpg" class="img-fluid d-block" alt="Imagen">#}
  <h1 class="text-overlay">COMPROBANTES DE PAGO </h1>
</div>
{% endblock %}
{% block canva %}

<div class="row">
  <div class="col-lg-3 mb-4">
    <a class="btn btn-success btn-mini w-100 mb-2" title="Subir comprobante de pago de rubro" data-bs-toggle="tooltip"
      href="javascript:void(0)" onclick="formModal('','Subir comprobante de pago de rubro','addpago')"><i
        class="fe fe-upload"></i>
      Subir comprobante
    </a>
    <div class="card border mb-6 mb-md-0 shadow-none">
      <div class="card-header">
        <h4 class="mb-0 fs-5 justify-content-between">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-filter text-muted me-2" viewBox="0 0 16 16">
            <path
              d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
            </path>
          </svg>
          Filtros
        </h4>
      </div>
      <form action="" method="GET">
        <input type="hidden" name="action" value="{{ action }}">
        <div class="card-body border-top  py-3">
          <div class="mt-1">
            <label for="" class="fs-5 text-dark "><i class="fas fa-trophy"></i> Torneo: </label>
            <select name="torneof" id="id_torneof" class="select2">
              <option value="">Todos</option>
              {% for t in torneos %}
              <option value="{{ t.id }}" {% if torneo == t.id %}selected{% endif %}>{{ t }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mt-1">
            <label for="" class="fs-5 text-dark"><i class="fa-solid fa-barcode"></i> Código de equipo: </label>
            <input type="text" placeholder="00000" class="form-control" name="codigo" value="{{codigo}}">
          </div>
        </div>
        <div class="card-body border-top py-3 text-center">
          <button type="submit" class="btn btn-primary p-1 fs-6 bloqueo"><i class="fas fa-search"></i>
            Buscar
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <!-- table -->
      <div class="table-responsive mb-6 mt-3 mx-3">
        <table class="table mb-0 text-nowrap" id="l_table">
          <thead class="">
            <tr>
              <th scope="col" class="text-center">
                <i class="fas fa-sort-numeric-asc"></i>
              </th>
              <th scope="col" class="text-center w-30">
                Detalle
              </th>
              <th scope="col" class="text-center w-10">
                Tarjetas
              </th>
              <th scope="col" class="text-center">
                Valor
              </th>
              <th scope="col" class="text-center">
                Estado
              </th>
              <th scope="col" class="text-center">
                Archivo
              </th>
              <th scope="col" class="">
                Observacón
              </th>
              <th class="text-center w-3">
                <i class="fa fa-cogs"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for l in listado %}
            <tr>
              <td class="text-center align-middle w-3">{{forloop.counter}}</td>
              <td class="align-middle border-top-0 lh-15 w-10 fs-6">
                <p><b>Fecha: </b>{{ l.fecha_creacion|date:'d-m-Y | H:i' }}</p>
                <p><b>Torneo: </b>{{l.torneo}}</p>
                <p><b>Equipo: </b> {{ l.equipo|title_cap }}</p>
              </td>
              <td class="align-middle border-top-0 lh-15 w-10 fs-6">
                {% for tarjeta in l.total_tarjetas %}
                <p class="mb-0">
                  {{ tarjeta.tipotarjeta__nombre }}: {{ tarjeta.conteo }}
                </p>
                {% endfor %}
              </td>
              <td class="text-center align-middle">
                $ {{ l.valor }}
              </td>
              <td class="align-middle w-15">
                <p class="{{l.color_estado}}">
                  {{l.get_estado_display}}
                </p>
              </td>
              <td class="text-center align-middle"><a href="{{l.archivo.url}}" target="_blank"><i
                    class="bi bi-file-pdf text-danger fs-3"></i></a></td>
              <td>
                <p title="{{l.observacion}}" data-bs-toggle="tooltip">
                  {{l.observacion|truncatechars:'20'}}
                </p>
                
              </td>
              <td class="align-middle border-top-0 text-center w-3">
                {% if l.estado == 1 %}
                <span class="dropdown dropstart">
                  <a class="btn-icon btn btn-sm rounded-circle" href="#" role="button" id="courseDropdown1"
                    data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                    <i class="fe fe-more-vertical"></i>
                  </a>
                  <span class="dropdown-menu" aria-labelledby="courseDropdown1">
                    <span class="dropdown-header"><i class="fas fa-cogs"></i> Acciones</span>

                    <a class="dropdown-item" href="javascript:void(0);"
                      onclick="formModal('{{l.pk|encrypt}}','Editar comprobante','editpago')">
                      <i class="fe fe-edit dropdown-item-icon"></i>Editar
                    </a>

                    <a class="dropdown-item" href="javascript:void(0);"
                      onclick="eliminarajax('{{l.id|encrypt}}','{{l}}', 'delpago')">
                      <i class="fe fe-trash dropdown-item-icon"></i>Eliminar
                    </a>

                  </span>
                </span>
                {% endif %}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6" class="text-center">No existen registros</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Pagination -->
        {# {% include 'paginador.html' %}#}
      </div>
    </div>
  </div>
</div>
{% endblock %}