{% extends 'base_admin.html' %}
{% load static %}
{% load extra_tags %}
{% block heading %}{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#l_table').DataTable({
            //"paging": false,  // Desactiva el paginado
            //"searching": false,  // Desactiva el buscado
           
            "info": false,  // Desactiva la información de las entradas
            {#"order": [[3, "dsc"]],  // Ordena por la segunda columna (ColumnaNumerica) de forma ascendente#}
            {#"columnDefs": [{#}
            {#    "targets": 0, // La primera columna#}
            {#    "searchable": false,#}
            {#    "orderable": false,#}
            {#    "render": function (data, type, full, meta) {#}
            {#        return meta.row + 1; // Devuelve el número de fila (empezando desde 1)#}
            {#    }#}
            {# }],#}
            "language": {
                "decimal": "",
                "emptyTable": "No hay datos disponibles en la tabla",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron coincidencias",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                }
            }
        });
    });
    $(function () {
        $("#l_total").text('({{ listado.count }})')
    })
</script>
{% endblock %}
{% block url_atras %}{{ request.path }}?action=torneos{% endblock %}
{% block enlaces_top %}
<li class="breadcrumb-item"><a href="{{ request.path }}?action=torneos">Torneos ({{ torneo }})</a></li>
<li class="breadcrumb-item">{{ title }}</li>
{% endblock %}
{% block botones_top %}
<div class="nav btn-group" role="tablist">
    <a href="javascript:void(0)"
        onclick="accionNotificar('{{torneo.id|encrypt}}','Se notificara a todos los directores tecnicos de cada equipo por correo electronica el pago de los rubros de tarjetas pendintes','notificarpagos','Notificaión masiva')"
        class="btn btn-primary btn-xs btn-xl" title="Notificar a los directores el pago de los rubros"
        data-bs-toggle="tooltip"> <i class="fas fa-bell"></i> Notificar pagos</a>

</div>
{% endblock %}
{% block content_1 %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- table -->
            <div class="table-responsive mb-6 mt-3 mx-3">
                <table class="table mb-0 table-bordered text-nowrap w-100" id="l_table">
                    <thead class="table-light">
                        <tr>
                            <th colspan="4" class="text-center">Resultado</th>
                            <th colspan="5" class="text-center">Rubros</th>
                        </tr>
                        <tr>
                            <th scope="col" class="text-center">
                                <i class="fas fa-sort-numeric-asc"></i>
                            </th>
                            <th scope="col" class="text-center">
                                Equipo
                            </th>

                            <th scope="col" class="text-center">
                                Puntos
                            </th>
                            <th scope="col" class="text-center">
                                Partidos
                            </th>
                            <th scope="col" class="">
                                Tarjetas
                            </th>
                            <th class="text-center w-3">
                                Pendiente
                            </th>
                            <th class="text-center w-3">
                                Pagado
                            </th>
                            <th class="text-center w-3">
                                Total
                            </th>
                            <th class="text-center"><i class="fas fa-cogs"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in listado %}
                        <tr>
                            <td class="text-center align-middle w-3">
                                {{ forloop.counter }}
                            </td>
                            {% with resultado=l|args:torneo|call:'resultados_torneo' %}
                            <td class="align-middle border-top-0 lh-15 w-50">
                                {{ l.get_escudo_img_sm|safe }}
                                {{ l|title_cap }}
                                {% if resultado.pagorubros %}
                                    <br>
                                    <p class="ms-5">
                                        <span class="badge bg-warning" href=""><i class="fe fe-bell"></i> Existen pagos por validar</span>
                                    </p>
                                {% endif %}
                            </td>
                            
                            <td class="text-center align-middle">
                                {{ l.puntos }}
                            </td>
                            <td class="text-center align-middle">
                                {{ resultado.total_partidos }}
                            </td>
                            <td class="align-middle w-15">
                              
                                {% for tarjeta in resultado.tarjeta %}
                                <p class="mb-0">
                                    {{ tarjeta.tipotarjeta__nombre }}: {{ tarjeta.conteo }}
                                </p>
                                {% endfor %}
                                

                            </td>
                            <td class="align-middle text-center">
                                <p>
                                    $ {{ resultado.pendiente_pagar }}
                                </p>
                            </td>
                            <td class="align-middle text-center">
                                $ {{ resultado.total_pagado }}
                            </td>
                            <td class="align-middle text-center">
                                $ {{ resultado.total }}
                            </td>
                            <td class="align-middle border-top-0 text-center w-3">
                                <span class="dropdown dropstart">
                                    <a class="btn-icon btn btn-sm rounded-circle" href="#" role="button"
                                        id="courseDropdown1" data-bs-toggle="dropdown" data-bs-offset="-20,20"
                                        aria-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <span class="dropdown-menu" aria-labelledby="courseDropdown1">
                                        <span class="dropdown-header"><i class="fas fa-cogs"></i> Acciones</span>
                                        {% if resultado.pendiente_pagar > 0 %}
                                            <a class="dropdown-item" href="javascript:void(0);"
                                                onclick="accionNotificar('{{l.pk|encrypt}}','Se notificara por correo electronico, al director técnico del equipo {{l}}  el pago de los rubros de tarjetas','notificarpago','Notificaión individual','{{torneo.id|encrypt}}')">
                                                <i class="fe fe-bell dropdown-item-icon"></i>Notificar pago
                                            </a>
                                        {% endif %}
                                        
                                            <a class="dropdown-item" href="{{request.path}}?action=comprobantes&id={{l.id|encrypt}}&idp={{torneo.id|encrypt}}">
                                                <i class="fe fe-file dropdown-item-icon"></i>Comprobantes
                                            </a>
                                        
                                    </span>
                                </span>
                            </td>
                            {% endwith %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No existen registros</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}