{% extends 'base_admin.html' %}
{% load static %}
{% load extra_tags %}
{% block heading %}{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            $("#l_total").text('({{ listado.count }})')
        })
    </script>
{% endblock %}
{% block url_atras %}{{ request.path }}?action=torneos{% endblock %}
{% block enlaces_top %}
    <li class="breadcrumb-item"><a href="{{ request.path }}?action=torneos">Torneos ({{ torneo }})</a></li>
    <li class="breadcrumb-item">{{ title }}</li>
{% endblock %}
{% block botones_top %}
    <div class="nav btn-group" role="tablist">
        <a href="javascript:void(0)"
           onclick="formModal('','Adicionar partido','addpartido','modal-lg',false,'{{ torneo.id }}')"
           class="btn btn-success btn-xs btn-xl"
           title="Adicionar club" data-bs-toggle="tooltip"> <i class="fas fa-plus"></i> Adicionar</a>
    </div>
{% endblock %}
{% block content_1 %}
    <div class="row mb-3">
        <form class="col-12" method="GET">
            <!-- Card header -->
            <div class="card-header border-bottom-0 p-0 bg-white">
                <div class="d-flex align-items-center">
                    <span class="position-absolute ps-3 search-icon">
                        <i class="fe fe-search"></i>
                    </span>
                    <input type="hidden" name="action" value="{{ action }}">
                    <input type="hidden" name="id" value="{{ torneo.id|encrypt }}">
                    <div class="input-group">
                        {#                        <div class="input-group-prepend">#}
                        {#                            <input type="date" name="fecha" class="form-control">#}
                        {#                        </div>#}
                        <div class="input-group-prepend">
                            <select name="tipopartido" id="id_tipo" class="selectpicker"
                                    placeholder="Seleccione un tipo de partido">
                                <option value=""></option>
                                {% for t in tipopartidos %}
                                    <option value="{{ t.id }}"
                                            {% if tipopartido == t.id %}selected{% endif %}>{{ t }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="search" class="form-control ps-6" name="s" placeholder="Buscar por nombre de equipo..."
                               value="{{ s }}"/>
                        <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                            {% if url_vars %}
                                <a href="{{ request.path }}?action={{ action }}&id={{ torneo.id|encrypt }}"
                                   class="btn btn-default"><i class="fas fa-refresh"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- table -->
                <div class="table-responsive">
                    <table class="table mb-0 table-bordered text-nowrap" id="l_table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-center">
                                <i class="fas fa-sort-numeric-asc"></i>
                            </th>
                            <th scope="col" class="text-center">
                                Fecha/Hora
                            </th>
                            <th scope="col" class="text-center">
                                Lugar
                            </th>
                            <th scope="col" class="text-center">
                                Partido
                            </th>

                            <th class="text-center">
                                <i class="fas fa-cogs"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in listado %}
                            <tr>
                                <td class="text-center align-middle w-3">{{ forloop.counter }}</td>
                                <td class="align-middle border-top-0 text-center w-15">
                                    <p class="text-center fs-6 fw-semi-bold">
                                        <i class="fa-regular fa-calendar"></i> {{ l.fecha|date:'d-m-Y ' }}
                                    </p>
                                    <p class="text-center fs-6 fw-semi-bold ">
                                        <i class="fa-regular fa-clock"></i> {{ l.fecha|time:'G:i' }}
                                    </p>
                                    {{ l.get_estado|safe }}
                                </td>
                                <td class="align-middle border-top-0 text-center w-15" title="{{l.ubicacion}}" data-bs-toggle="tooltip">
                                   {{l.ubicacion|truncatechars:35}}
                                </td>
                                <td class="align-middle border-top-0 lh-15 w-50">
                                    <div class="container-fluid">
                                        <div class="row justify-content-center mb-1">
                                            <div class="col-12">
                                                <h6 class="my-0 lh-15" style="width: 550px">
                                                    {{ l.tipopartidofase }}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="fw-semi-bold fs-6 col-8">
                                                Equipos
                                            </div>
                                            <div class="text-center fw-semi-bold fs-6 col-2"> Goles</div>
                                            <div class="text-center fw-semi-bold fs-6 col-2"> Tarjetas</div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="fw-semi-bold fs-6 col-8">
                                                {{ l.clublocal.get_escudo_img_sm|safe }}
                                                {{ l.clublocal|title_cap }}
                                                {% if l.estado == 2 %}
                                                    {% with resultado=l.clublocal|args:l|call:'resultado_partido' %}
                                                        {% if resultado.gano %}
                                                            | <span class="text-success">Ganador</span>
                                                        {% elif resultado.empato %}
                                                            | <span class="text-primary">Empate</span>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endif %}
                                            </div>
                                            <div class="text-center fw-semi-bold fs-6 col-2"> {{ l.goles_local }}</div>
                                            <div class="text-center fw-semi-bold fs-6 col-2"> {{ l.t_tarjeta_local }}</div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class=" fw-semi-bold fs-6 col-8">
                                                {{ l.clubvisitante.get_escudo_img_sm|safe }}
                                                {{ l.clubvisitante|title_cap }}
                                                {% if l.estado == 2 %}
                                                    {% with resultado=l.clubvisitante|args:l|call:'resultado_partido' %}
                                                        {% if resultado.gano %}
                                                            | <span class="text-success">Ganador</span>
                                                        {% elif resultado.empato %}
                                                            | <span class="text-primary">Empate</span>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endif %}
                                            </div>
                                            <div class="text-center fw-semi-bold fs-6 col-2">{{ l.goles_visitante }}</div>
                                            <div class="text-center fw-semi-bold fs-6 col-2">{{ l.t_tarjeta_visitante }}</div>
                                        </div>
                                    </div>

                                </td>
                                <td class="align-middle border-top-0 text-center w-3">
                                    <span class="dropdown dropstart">
                                      <a class="btn-icon btn btn-sm rounded-circle" href="#"
                                         role="button"
                                         id="courseDropdown1"
                                         data-bs-toggle="dropdown" data-bs-offset="-20,20"
                                         aria-expanded="false">
                                      <i class="fe fe-more-vertical"></i>
                                      </a>
                                      <span class="dropdown-menu" aria-labelledby="courseDropdown1">
                                      <span class="dropdown-header"><i class="fas fa-cogs"></i> Acciones</span>
                                          {% if l.esta_jugando %}
                                              <a class="dropdown-item"
                                                 href="javascript:void(0)"
                                                 onclick="formModal('{{ l.pk|encrypt }}','Registrar resultados','registrargol','modal-md')">
                                                <i class="fas fa-futbol dropdown-item-icon"></i>Registrar gol
                                            </a>
                                          {% endif %}
                                          <a class="dropdown-item pl-0"
                                             href="javascript:void(0)"
                                             onclick="formModal('{{ l.pk|encrypt }}','Registrar tarjeta','registrartarjeta','modal-md')">
                                            <i class="fa-solid fa-sheet-plastic dropdown-item-icon pl-0"></i>Registrar tarjeta
                                        </a>
                                      {% if not l.estado == 2 %}
                                          <a class="dropdown-item" href="javascript:void(0);"
                                             onclick="accionNotificar('{{ l.pk|encrypt }}','{{ l }}','finalizar','Estas por finalizar el partido:')">
                                            <i class="fe fe-check-circle dropdown-item-icon"></i>Finalizar partido
                                        </a>
                                        <a class="dropdown-item" href="javascript:void(0);"
                                           onclick="formModal('{{ l.pk|encrypt }}','Editar {{ l }}','editpartido','modal-md')">
                                            <i class="fe fe-edit dropdown-item-icon"></i>Editar
                                        </a>
                                      {% endif %}

                                      {% if not l.esta_jugando and not l.estado == 2 %}
                                        <a class="dropdown-item" href="javascript:void(0);"
                                           onclick="eliminarajax('{{ l.pk|encrypt }}','{{ l }}','delpartido')">
                                            <i class="fe fe-trash dropdown-item-icon"></i>Eliminar
                                        </a>
                                      {% endif %}
                                        <a class="dropdown-item" href="javascript:void(0);"
                                               onclick="formModal('{{ l.pk|encrypt }}','Resultados de partido {{ l }}','resultados','modal-xl')">
                                                <i class="fe fe-check-square dropdown-item-icon"></i>Resultados
                                        </a>
                                      </span>
                                    </span>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No existen registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    {% include 'paginador.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}