{% extends 'base.html' %}
{% load static %}
{% block heading %}
    <style>
        .content_canva{
            min-height: 800px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
        }

        .box-content-img {
            position: relative; /* Permitir posicionar elementos hijos relativos a este contenedor */
            background-color: #0b2f44;
        {#border-radius: 5px;#} height: 150px;
            overflow: hidden; /* Asegurar que el texto no se desborde del contenedor */
        }

        .box-content-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

        .text-overlay {
            position: absolute;
            top: 50%; /* Ajusta según sea necesario */
            left: 10%; /* Ajusta según sea necesario */
            transform: translate(0%, -50%); /* Centrar el texto */
            color: white; /* Color del texto */
            text-align: center;
        {#right: 0;#}{#opacity: 0.7; /* Opacidad del texto */#}
        }

        /* Otra opción: Hacer la imagen más oscura */
        .box-content-img::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5); /* Ajusta el valor alpha según sea necesario */
        }

        .v-align-middle {
            display: flex;
            align-items: center;
            align-content: center;
            /*justify-content: center*/
        }
    </style>
    {% block extra_heading %}{% endblock %}
{% endblock %}

{% block content %}
    <!-- navbar login -->
    <nav class="navbar navbar-expand-lg navbar-default bg-blue">
        <div class="container-fluid px-0">
            <a class="navbar-brand text-white" href="{{ request.path }}">
                <img src="../assets/images/brand/logo/logo.svg" alt=""/> Futbol
            </a>
            <!-- Button -->
            <button
                    class="navbar-toggler collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar-default"
                    aria-controls="navbar-default"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="icon-bar top-bar mt-0"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbar-default">
                <ul class="nav nav-lb-tab border-0 py-1">
                    <li class="nav-item mx-2">
                        <a class="nav-link p-0 {% if not action %}active{% endif %}"
                           href="{{ request.path }}">Inicio
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link p-0 {% if action == 'partidos' %}active{% endif %}"
                           href="{{ request.path }}?action=partidos">Partidos
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link p-0 {% if action == 'posiciones' %}active{% endif %}"
                           href="{{ request.path }}?action=posiciones">
                            Tabla de posiciones
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link p-0 {% if action == 'goleadores' %}active{% endif %}"
                           href="{{ request.path }}?action=goleadores">Goleadores
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    {% block content_1 %}
    <div class="content_canva">
    {% block section_top %}{% endblock %}
        <div class="container-xl mt-4">
            {% block canva %}

            {% endblock %}
        </div>
    </div>
    {% endblock %}
    <!-- Footer -->
    <!-- Footer -->

    <div class="footer bg-blue">
        <div class="container-fluid">
            <div class="row align-items-center g-0 border-top py-2">
                <!-- Desc -->
                <div class="col-12 text-center text-white">
                    <span>© 2023 Todos los derechos reservados</span>
                </div>
                <!-- Links -->
                {#                    <div class="col-12 col-md-6">#}
                {#                        <nav class="nav nav-footer justify-content-center justify-content-md-end text-white">#}
                {#                            <a class="nav-link active ps-0" href="#">Privacy</a>#}
                {#                            <a class="nav-link" href="#">Terms </a>#}
                {#                            <a class="nav-link" href="#">Feedback</a>#}
                {#                            <a class="nav-link" href="#">Support</a>#}
                {#                        </nav>#}
                {#                    </div>#}
            </div>
        </div>
    </div>
{% endblock %}

