
{% load static %}
{% load extra_tags %}
{% block content %}
<div style="line-height:inherit;margin:0;padding:0;background-color:#f0f4f7">
    <div
        style="color:transparent;opacity:0;font-size:0px;border:0;max-height:1px;width:1px;margin:0px;padding:0px;border-width:0px!important;display:none!important;line-height:0px!important">
        <img border="0" width="1" height="1"
            src=""
            class="CToWUd"></div>
            <img
        src=""
        style="border:0;width:1px;height:1px;border-width:0px!important;display:none!important;line-height:0!important"
        width="1" height="1" class="CToWUd">
    <table
        style="line-height:inherit;table-layout:fixed;vertical-align:top;min-width:320px;border-spacing:0;border-collapse:collapse;background-color:#f0f4f7;width:100%"
        cellpadding="0" cellspacing="0" width="100%" bgcolor="#052435" valign="top">
        <tbody style="line-height:inherit">
            <tr style="line-height:inherit;border-collapse:collapse;vertical-align:top" valign="top">
                <td style="line-height:inherit;border-collapse:collapse;word-break:break-word;vertical-align:top"
                    valign="top">
                    <div
                        style="line-height:inherit;background-image:url('');background-position:top left;background-repeat:no-repeat;background-color:rgb(43, 43, 71)">
                        <div
                            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:transparent">
                            <div
                                style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:transparent">
                                <div
                                    style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                                    <div style="line-height:inherit;width:100%!important">
                                        <div
                                            style="line-height:inherit;border-top:0px dotted transparent;border-left:0px dotted transparent;border-bottom:0px dotted transparent;border-right:0px dotted transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">
                                            <div align="center"
                                                style="line-height:inherit;padding-right:0px;padding-left:30px;color:white;"> <h1>FCUNEMI | RUBROS PENDIENTES DE PAGO</h1>
                                                <div class="a6S" dir="ltr"
                                                    style="opacity: 0.01; left: 404px; top: 257px;">
                                                    <div id=":ox" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button"
                                                        tabindex="0" aria-label="Descargar el archivo adjunto "
                                                        data-tooltip-class="a1V" data-tooltip="Descargar">
                                                        <div class="akn">
                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="line-height:inherit;background-color:transparent">
                        <div
                            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
                            <div
                                style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#ffffff">
                                <div
                                    style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                                    <div style="line-height:inherit;width:100%!important">
                                        <div
                                            style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:30px;padding-bottom:30px;padding-right:30px;padding-left:30px">
                                            <div
                                                style="color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;line-height:1.8;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
                                                <div
                                                    style="line-height:1.8;font-size:12px;color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                                                    <p style="line-height:1.8;word-break:break-word;text-align:center;font-size:16px;margin:0">
                                                        <span style="line-height:inherit;font-size:16px">Estimado director tecnico {{data.director}}<br style="line-height:inherit"><br
                                                                style="line-height:inherit">Se registro rubros pendientes de pago en FCUNEMI  del equipo {{data.equipo}}, por favor acceda al link para proceder a realizar el pago.
                                                                
                                                                <br style="line-height:inherit"><br style="line-height:inherit">
                                                                <table class="table" style="width: 100%;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="text-align: center;">Fecha</th>
                                                                            <th style="text-align: center;">Jugador</th>
                                                                            <th style="text-align: center;">Tarjeta</th>
                                                                            <th style="text-align: center;">Valor</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for tarjeta in data.rubro.tarjetas  %}
                                                                            <tr>
                                                                                <td style="text-align: center;">{{tarjeta.fecha_creacion|date:'d-m-Y'}}</td>
                                                                                <td style="text-align: center;">{{tarjeta.integrante|default_if_none:''}}</td>
                                                                                <td style="text-align: center;">{{tarjeta.tipotarjeta}}</td>
                                                                                <td style="text-align: center;">${{tarjeta.valor}}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        <tr>
                                                                            <td colspan="3" style="text-align: right;font-weight: 600;">Total</td>
                                                                            <td style="text-align: center;">${{data.rubro.pendiente_pagar}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <br style="line-height:inherit">
                                                                <div class="" align="center">
                                                                    <a href="https://payp.page.link/zt1R" target="_blank" title="Pagar rubro"><img src="https://i.imgur.com/4gaZ0Go.jpg" width="120" height="120"></a>
                                                                </div>
                                                                <div style="line-height:inherit;font-size:16px; text-align: center;" align="center">
                                                                    <br style="line-height:inherit">Su código de equipo es: <strong>{{data.equipo.codigo}}</strong>
                                                                    <br style="line-height:inherit">
                                                                    Posterior a realizar su pago por favor subir su comporbante con el código de equipo. 
                                                                    <br style="line-height:inherit"><a href="http://localhost:8000/main?action=pagos">SUBIR COMPROBANTE</a>
                                                                </div>
                                                                <br style="line-height:inherit"><strong>Nota: </strong>Recuerde que puede dar click sobre la imagen QR para acceder al pago del rubro o a su vez dar <a href="https://payp.page.link/zt1R">click aquí</a>

                                                        </span>
                                                    </p>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="line-height:inherit;background-color:transparent">
                        <div
                            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#fdfdfd">
                            <div
                                style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#fdfdfd">
                                <div
                                    style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                                    <div style="line-height:inherit;width:100%!important">
                                        <div
                                            style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">
                                            <div align="center"
                                                style="line-height:inherit;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px">
{#                                                <a href='https://postimg.cc/cKTLrFqP' target='_blank'><img src='https://i.postimg.cc/cKTLrFqP/00065-3829068532-close-portrait-of-jguachuns-stylish-person-in-custom-made-robot-suit-futuristic-st.png' border='0' alt='00065-3829068532-close-portrait-of-jguachuns-stylish-person-in-custom-made-robot-suit-futuristic-st'/></a>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="line-height:inherit;background-color:transparent">
                        <div
                            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:#ffffff">
                            <div
                                style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:#ffffff">
                                <div
                                    style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                                    <div style="line-height:inherit;width:100%!important">
                                        <div
                                            style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:30px;padding-bottom:30px;padding-right:30px;padding-left:30px">
                                            <div
                                                style="color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;line-height:1.8;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
                                                <div
                                                    style="line-height:1.8;font-size:12px;color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="line-height:inherit;background-color:transparent">
                        <div
                            style="line-height:inherit;min-width:320px;max-width:600px;word-wrap:break-word;word-break:break-word;Margin:0 auto;background-color:transparent">
                            <div
                                style="line-height:inherit;border-collapse:collapse;display:table;width:100%;background-color:transparent">
                                <div
                                    style="line-height:inherit;min-width:320px;max-width:600px;display:table-cell;vertical-align:top;width:600px">
                                    <div style="line-height:inherit;width:100%!important">
                                        <div
                                            style="line-height:inherit;border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px">
                                            <div
                                                style="color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;line-height:1.2;padding-top:30px;padding-right:10px;padding-bottom:30px;padding-left:10px">
                                                <div
                                                    style="line-height:1.2;font-size:12px;color:#555555;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif">
                                                    <p
                                                        style="font-size:14px;line-height:1.2;word-break:break-word;text-align:center;margin:0">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}