<div class="col-lg-12 col-md-12 col-12">
    <div class="pt-1 pb-4 ">
        <!-- Pagination -->
        <nav>
            <ul class="pagination justify-content-center mb-0">
                {% if paging.has_previous %}
                    <li class="page-item">
                        <a class="page-link mx-1 rounded mx-1 rounded bloqueo" href="?page={{ paging.previous_page_number }}{{ url_vars }}"
                           tabindex="-1" aria-disabled="true">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                {% endif %}
                {% if paging.paginator.num_pages > 5 %}
                    {% if paging.paginator.primera_pagina %}
                         <li class="page-item">
                            <a class="page-link mx-1 rounded bloqueo" href="?page=1{{ url_vars }}">1</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ paging.paginator.ellipsis_izquierda }}{{ url_vars }}"
                               class="active page-link mx-1 rounded bloqueo">...</a></li>
                    {% endif %}
                     {% for pagenumber in paging.paginator.paginas %}
                        <li {% if pagenumber == paging.number %}class='active page-item '
                            {% else %}class='page-item'{% endif %}>
                            <a href="?page={{ pagenumber }}{{ url_vars }}"
                               class="page-link mx-1 rounded bloqueo">{{ pagenumber }}</a>
                        </li>
                    {% endfor %}
                     {% if paging.paginator.ultima_pagina %}
                        <li class="page-item">
                            <a href="?page={{ paging.paginator.ellipsis_derecha }}{{ url_vars }}"
                               class="active page-link mx-1 rounded  bloqueo">...</a></li>
                        <li class="page-item">
                            <a href="?page={{ paging.paginator.num_pages }}{{ url_vars }}"
                               class="page-link mx-1 rounded bloqueo">{{ paging.paginator.num_pages }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    {% for num_page in paging.paginator.page_range %}
                        <li class="page-item {% if num_page == paging.number %}active{% endif %}">
                            <a class="page-link mx-1 rounded mx-1 rounded bloqueo" href="?page={{ num_page }}{{ url_vars }}">{{ num_page }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if paging.has_next %}
                    <li class="page-item">
                        <a class="page-link mx-1 rounded mx-1 rounded bloqueo" href="?page={{ paging.next_page_number }}{{ url_vars }}"
                           aria-disabled="true"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>