{% extends 'base_externo.html' %}
{% load static %}
{% load extra_tags %}
{% block content_js %}
    <script>
        {% if listado %}
            $(document).ready(function () {
                $('#l_table').DataTable({
                    {#"paging": false,  // Desactiva el paginador#}
                    {#"searching": false,  // Desactiva el buscador#}
                    "info": false,  // Desactiva la información de las entradas
                    "order": [[3, "dsc"]],  // Ordena por la segunda columna (ColumnaNumerica) de forma ascendente
                    "columnDefs": [{
                        "targets": 0, // La primera columna
                        "searchable": false,
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return meta.row + 1; // Devuelve el número de fila (empezando desde 1)
                        }
                    }],
                    "language": {
                        "decimal": "",
                        "emptyTable": "No hay datos disponibles en la tabla",
                        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                        "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "No se encontraron coincidencias",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        },
                        "aria": {
                            "sortAscending": ": activar para ordenar la columna ascendente",
                            "sortDescending": ": activar para ordenar la columna descendente"
                        }
                    }
                });
            });
        {% endif %}
        $(function () {
            $('select').select2({width: '100%', minimumResultsForSearch: 6})
        });
    </script>
{% endblock %}
{% block section_top %}
    <div class="box-content-img">
        <!-- Contenedor de Imagen -->
        {#    <img src="/static/images/torneo.jpg" class="img-fluid d-block" alt="Imagen">#}
        <h1 class="text-overlay" style="top: 40%;">Goleadores</h1>
        <h3 class="text-overlay mt-7 mt-sm-5" style="top: 40%;">{{ torneo.nombre }}
            | {{ torneo.get_generotorneo_display }}</h3>
    </div>
{% endblock %}
{% block canva %}

    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card border mb-6 mb-md-0 shadow-none">
                <div class="card-header">
                    <h4 class="mb-0 fs-5 justify-content-between">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-filter text-muted me-2" viewBox="0 0 16 16">
                            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                        </svg>
                        Filtros
                    </h4>
                </div>
                <form method="GET">
                    <div class="card-body border-top  py-3">
                        <div class="mt-1">
                            <input type="hidden" name="action" value="{{ action }}">
                            <label for="" class="fs-5 text-dark "><i class="fas fa-trophy"></i> Torneos: </label>
                            <select name="torneo" id="id_torneo" class="">
                                {% for t in torneos %}
                                    <option value="{{ t.id }}" {% if torneo == t %}selected{% endif %}>{{ t }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card-body border-top py-3 text-center">
                        <button type="submit" class="btn btn-primary p-1 fs-6 bloqueo"><i class="fas fa-search"></i>
                            Buscar
                        </button>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <!-- table -->
                <div class="table-responsive mb-6 mt-3 mx-3">
                    <table class="table mb-0 text-nowrap" id="l_table">
                        <thead class="">
                        <tr>
                            <th scope="col" class="text-center">
                                <i class="fas fa-sort-numeric-asc"></i>
                            </th>
                            <th scope="col">
                                Jugador
                            </th>
                            <th scope="col" class="text-center">
                                Goles
                            </th>

                            <th scope="col" class="">
                                Equipo
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in listado %}
                            <tr>
                                <td class="text-center align-middle w-3"></td>
                                <td class="align-middle border-top-0 lh-15 w-50">
                                    {% if l.integrante__persona__foto %}
                                        <img src="/media/{{ l.integrante__persona__foto }}" class="rounded-circle avatar-sm me-2"/>
{#                                    {% else %}#}
{#                                        <div class="siglas-sm mt-0 ml-1 me-2"> <span class="mt-0">{{ l.integrante__persona__nombres|slice:'1'}}{{ l.integrante__persona__apellido1|slice:'1' }}</span></div>#}
                                    {% endif %}
                                    {{ l.integrante__persona__nombres|title_cap }}
                                    {{ l.integrante__persona__apellido1|title_cap }}
                                    {{ l.integrante__persona__apellido2|title_cap }}
{#                                {{ l.integrante__persona__nacionalidad__nacionalidad|title_cap  }}#}
                                </td>
                                 <td class="align-middle w-3 text-center">
                                    {{ l.total_goles }}
                                </td>

                                <td class="align-middle">
                                    {{ l.club__nombre|title_cap }}
                                </td>

                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No existen registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}