{% extends 'base_admin.html' %}
{% load static %}
{% block heading %}
{% endblock %}
{% block content_js %}
    <script>
    </script>
{% endblock %}
{% block content_1 %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-4 mb-4 d-lg-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Bienvenido {{ persona.nombres_simple }}</h1>
                </div>
                <!-- Form -->
                {#                <form class="" method="GET">#}
                {#                    <div class="card-header border-bottom-0 p-0 bg-white">#}
                {#                        <div class="d-flex align-items-center">#}
                {#                             <span class="position-absolute ps-3 search-icon"><i class="fe fe-search"></i>#}
                {#                        </span>#}
                {#                        <input type="search" class="form-control ps-6"#}
                {#                               placeholder="Buscar módulo..."/>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </form>#}
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semi-bold">Partidos</span>
                        </div>
                        <div>
                            <span class="fas fa-futbol fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{ partidos }}
                    </h2>
                    <span class="text-danger fw-semi-bold">{{ partidos_pendientes }}</span>
                    <span class="ms-1 fw-medium">Pendientes de jugar</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semi-bold">Equipos</span>
                        </div>
                        <div>
                            <span class=" fe fe-users fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{ equipos }}
                    </h2>
                    <span class="text-success fw-semi-bold"><i class="fe fe-trending-up me-1"></i>{{ jugadores }}</span>
                    <span class="ms-1 fw-medium">Jugadores</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4">
                <!-- Card body -->
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
                        <div>
                            <span class="fs-6 text-uppercase fw-semi-bold">Usuarios</span>
                        </div>
                        <div>
                            <span class=" fe fe-user-check fs-3 text-primary"></span>
                        </div>
                    </div>
                    <h2 class="fw-bold mb-1">
                        {{ usuarios }}
                    </h2>
                    <span class="text-success fw-semi-bold"><i class="fe fe-trending-up me-1"></i>{{ administradores }}</span>
                    <span class="ms-1 fw-medium">Administradores</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}